* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}

.header {
  z-index: 100;
  width: 100%;
  height: 45px;
  position: absolute;
  display: flex;

  &__content {
    display: flex;
    flex-wrap: nowrap;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: end;
    padding-left: 212px;
  }

  background: transparent;

  &__nav-item {
    color: #FDFDFD;
    font-family: Nunito Sans, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__nav-btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #1A3E3E;
    color: #FDFDFD;
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.192px;
  }
}

.first__section {
  background: url("/src/images/BG1.png") center/cover no-repeat;
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;

  &-forms {
    width: 1180px;
    height: 161px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(3px);

  }

  &-title {
    color: #FDFDFD;
    font-family: NEXT ART, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 75px */
    letter-spacing: 1px;
    position: absolute;
    bottom: 274px;
  }

  &-forms {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    bottom: 82px;
    justify-content: space-around;

  }

  &-form {
    display: flex;
    height: 52px;
    margin-top: 42px;
    padding: 0px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--wl-primary-primary-300, #E1E3E4);
    background: rgba(255, 255, 255, 0);
    color: #FDFDFD;
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

  }

  &-form-btn {
    display: flex;
    padding: 16px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #FDFDFD;
    color: #1A3E3E;
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.192px;
  }
}

.second__section {
  margin-top: 100px;
  height: 80vh;

  &-left {
    width: calc((100% - 120px) / 2);
    display: flex;
    height: inherit;
    position: absolute;

    &-content {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 350px;
        height: 400px;
        flex-shrink: 0;
        border-radius: 24px;
        background-image: url("/src/images/Rectangle1.png");
      }

      &::after {
        content: "";
        position: absolute;
        top: 125px;
        left: 130px;
        width: 350px;
        height: 400px;
        flex-shrink: 0;
        border-radius: 24px;
        background-image: url("/src/images/Rectangle2.png");
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: calc((100% - 120px) / 2);
    position: absolute;
    right: 0;

    &-block-suptitle {
      color: #F2BE22;
      font-family: Nunito Sans, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 83.333% */
    }

    &-block-title {
      color: #18121E;
      font-family: Nunito Sans, sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%; /* 38.4px */
    }

    &-block-text {
      color: #18121E;
      font-family: Nunito Sans, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
    }

    &-block-btn {
      display: flex;
      padding: 16px 36px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 4px;
      background: #1A3E3E;
      color: #FDFDFD;
      font-family: Nunito Sans, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px; /* 125% */
      letter-spacing: 0.192px;
    }
  }
}

.third__section {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;

  &-block {
    &-left {
      &-suptitle {
        color: #F2BE22;
        font-family: Nunito Sans, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 83.333% */
      }

      &-title {
        color: #18121E;
        font-family: Nunito Sans, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%; /* 38.4px */
      }

      &-anot {
        color: #18121E;
        font-family: Nunito Sans, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
      }

      &-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 4px;
        flex: 1 0 0;
      }

      &-button {
        display: flex;
        padding: 16px 36px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background: #1A3E3E;
        color: #FDFDFD;
        font-family: Nunito Sans, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
        letter-spacing: 0.192px;
      }

      &-textTitle {
        color: #18121E;
        font-family: Nunito Sans, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 111.111% */
        letter-spacing: 0.216px;
      }

      &-text {
        color: #000;
        font-family: Nunito Sans, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
      }

      width: calc((100% - 120px) / 2);
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      position: absolute;
    }

    &-right {
      height: 510px;
      flex-shrink: 0;
      width: calc((100% - 120px) / 2);
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      gap: 10px;
      right: 0;

      &-img1 {
        width: 250px;
        height: 250px;
        flex-shrink: 0;
        border-radius: 0px 50px;
        background: url(/src/images/collage1.png) center/cover no-repeat;
      }

      &-img2 {
        width: 250px;
        height: 250px;
        flex-shrink: 0;
        border-radius: 50px 0px;
        background: url(/src/images/collage2.png) center/cover no-repeat;
      }

      &-img3 {
        width: 250px;
        height: 250px;
        flex-shrink: 0;
        border-radius: 50px 0px;
        background: url(/src/images/collage3.png) center/cover no-repeat;
      }

      &-img4 {
        width: 250px;
        height: 250px;
        flex-shrink: 0;
        border-radius: 0px 50px;
        background: url(/src/images/collage4.png) center/cover no-repeat;;
      }

    }
  }
}

.fourth__section {
  height: 80vh;

  &-titles {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 25% 50px;
    gap: 8px;

    .fourth__section-suptitle {
      color: #F2BE22;
      font-family: Nunito Sans, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 83.333% */
    }

    .fourth__section-title {
      color: #18121E;
      text-align: center;
      font-family: Nunito Sans, sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%; /* 38.4px */
      width: 580px;
    }
  }

  &-options {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;

    .fourth__section-option1 {
      width: 380px;
      height: 500px;
      flex-shrink: 0;
      border-radius: 32px;
      background: url(/src/images/popular_tour1.png) center/cover no-repeat;
    }

    .fourth__section-option2 {
      width: 380px;
      height: 500px;
      flex-shrink: 0;
      border-radius: 32px;
      background: url(/src/images/popular_tour2.png) center/cover no-repeat;
    }

    .fourth__section-option3 {
      width: 380px;
      height: 500px;
      flex-shrink: 0;
      border-radius: 32px;
      background: url(/src/images/popular_tour3.png) center/cover no-repeat;
    }
  }

  &-btn {
    color: #FDFDFD;
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.192px;
    display: inline-flex;
    padding: 16px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #1A3E3E;
    margin-top: 50px;

  }
}

.fifth__section {
  &-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 60px;

    .fifth__section-suptitle {
      color: #F2BE22;
      font-family: Nunito Sans, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 83.333% */
    }

    .fifth__section-title {
      color: #18121E;
      text-align: center;
      font-family: Nunito Sans, sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%; /* 38.4px */
    }
  }

  &-content {
    .fifth__section-block-sep {
      position: absolute;
      right: 35px;
      top: 10px;
    }

    .fifth__section-block {
      display: inline-block;
      flex-wrap: nowrap;
      width: calc((100% - 10px) / 2);
      padding: 16px;
      align-items: flex-start;
      gap: 24px;
      border-radius: 10px;
      background: #FDFDFD;
      position: relative;
    }

    .fifth__section-block-bot {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 250%;

    }

    .fifth__section-block-img {

      width: 230px;
      height: 280px;
      flex-shrink: 0;
      border-radius: 6px;
      background: url(/src/images/blog1.png)

    }

    .img11 {
      background: url(/src/images/blog2.png)
    }

    .img111 {
      background: url(/src/images/blog3.png)
    }

    .img1111 {
      background: url(/src/images/blog4.png)
    }

    .fifth__section-block-title {
      color: #18121E;
      font-family: Nunito Sans, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
    }

    .fifth__section-block-text {
      overflow: hidden;
      color: #18121E;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Nunito Sans, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }

    .fifth__section-block-date {
      color: #F2BE22;
      font-family: Nunito Sans, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 142.857% */
      margin-right: 100px;
    }

    .fifth__section-block-read-more {
      color: #1A3E3E;
      font-family: Nunito Sans, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 142.857% */
    }
    &-btn{
      display: inline-flex;
      position: absolute;
      left: 40%;
      margin-top: 50px;
      padding: 16px 36px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 4px;
      background: #1A3E3E;
      color: #FDFDFD;
      font-family: Nunito Sans, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px; /* 125% */
      letter-spacing: 0.192px;

    }
  }
}

.sixth__section {
  height: 100vh;
  width: 100%;

  &-content {
    &-titles {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      margin-top: 200px;
      margin-bottom: 60px;

      &-title {
        color: #18121E;
        text-align: center;
        font-family: Nunito Sans, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%; /* 38.4px */
      }

      &-suptitle {
        color: #F2BE22;
        font-family: Nunito Sans, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 83.333% */
      }
    }

    &-fancybox {
      flex-shrink: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .baloon {
        width: calc((100% - 260px) / 2);
        height: 250px;
        flex-shrink: 0;
        background: url(/src/images/baloon.png) center/cover no-repeat;
      }

      .map {
        width: calc((100% - 260px) / 3);
        height: 250px;
        flex-shrink: 0;
        background: url(/src/images/map.png) center/cover no-repeat;
      }

      .aust {
        width: calc((100% - 260px) / 3);
        height: 250px;
        flex-shrink: 0;
        background: url(/src/images/aust.png) center/cover no-repeat;
      }

      .beach {
        width: calc((100% - 260px) / 3);
        height: 250px;
        flex-shrink: 0;
        background: url(/src/images/beach.png) center/cover no-repeat;
      }

      .canyon {
        width: calc((100% - 260px) / 2);
        height: 250px;
        flex-shrink: 0;
        background: url(/src/images/canyon.png) center/cover no-repeat;

      }

      .notebook {
        width: calc((100% - 260px) / 3);
        height: 250px;
        flex-shrink: 0;
        background: url(/src/images/notebook.png) center/cover no-repeat;
      }
    }

    &-btn {
      display: inline-flex;
      position: absolute;
      left: 40%;
      margin-top: 50px;
      padding: 16px 36px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 4px;
      background: #1A3E3E;
      color: #FDFDFD;
      font-family: Nunito Sans, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px; /* 125% */
      letter-spacing: 0.192px;

    }
  }
}
