* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}

.header {
  z-index: 100;
  width: 100%;
  height: 45px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-left: 212px;
}
.header__nav-item {
  color: #FDFDFD;
  font-family: Nunito Sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #1A3E3E;
  color: #FDFDFD;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: 0.192px;
}

.first__section {
  background: url("/src/images/BG1.png") center/cover no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
}
.first__section-forms {
  width: 1180px;
  height: 161px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.first__section-title {
  color: #FDFDFD;
  font-family: NEXT ART, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 75px */
  letter-spacing: 1px;
  position: absolute;
  bottom: 274px;
}
.first__section-forms {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  position: absolute;
  bottom: 82px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.first__section-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  margin-top: 42px;
  padding: 0px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--wl-primary-primary-300, #E1E3E4);
  background: rgba(255, 255, 255, 0);
  color: #FDFDFD;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.first__section-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #FDFDFD;
  color: #1A3E3E;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: 0.192px;
}

.second__section {
  margin-top: 100px;
  height: 80vh;
}
.second__section-left {
  width: calc((100% - 120px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  position: absolute;
}
.second__section-left-content {
  position: relative;
}
.second__section-left-content::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 400px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 24px;
  background-image: url("/src/images/Rectangle1.png");
}
.second__section-left-content::after {
  content: "";
  position: absolute;
  top: 125px;
  left: 130px;
  width: 350px;
  height: 400px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 24px;
  background-image: url("/src/images/Rectangle2.png");
}
.second__section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  width: calc((100% - 120px) / 2);
  position: absolute;
  right: 0;
}
.second__section-right-block-suptitle {
  color: #F2BE22;
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
}
.second__section-right-block-title {
  color: #18121E;
  font-family: Nunito Sans, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
}
.second__section-right-block-text {
  color: #18121E;
  font-family: Nunito Sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.second__section-right-block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #1A3E3E;
  color: #FDFDFD;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: 0.192px;
}

.third__section {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.third__section-block-left {
  width: calc((100% - 120px) / 2);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  position: absolute;
}
.third__section-block-left-suptitle {
  color: #F2BE22;
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
}
.third__section-block-left-title {
  color: #18121E;
  font-family: Nunito Sans, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
}
.third__section-block-left-anot {
  color: #18121E;
  font-family: Nunito Sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.third__section-block-left-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.third__section-block-left-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #1A3E3E;
  color: #FDFDFD;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: 0.192px;
}
.third__section-block-left-textTitle {
  color: #18121E;
  font-family: Nunito Sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  letter-spacing: 0.216px;
}
.third__section-block-left-text {
  color: #000;
  font-family: Nunito Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.third__section-block-right {
  height: 510px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc((100% - 120px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  gap: 10px;
  right: 0;
}
.third__section-block-right-img1 {
  width: 250px;
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 50px;
  background: url(/src/images/collage1.png) center/cover no-repeat;
}
.third__section-block-right-img2 {
  width: 250px;
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50px 0px;
  background: url(/src/images/collage2.png) center/cover no-repeat;
}
.third__section-block-right-img3 {
  width: 250px;
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50px 0px;
  background: url(/src/images/collage3.png) center/cover no-repeat;
}
.third__section-block-right-img4 {
  width: 250px;
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 50px;
  background: url(/src/images/collage4.png) center/cover no-repeat;
}

.fourth__section {
  height: 80vh;
}
.fourth__section-titles {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin: 0 25% 50px;
  gap: 8px;
}
.fourth__section-titles .fourth__section-suptitle {
  color: #F2BE22;
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
}
.fourth__section-titles .fourth__section-title {
  color: #18121E;
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
  width: 580px;
}
.fourth__section-options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
.fourth__section-options .fourth__section-option1 {
  width: 380px;
  height: 500px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 32px;
  background: url(/src/images/popular_tour1.png) center/cover no-repeat;
}
.fourth__section-options .fourth__section-option2 {
  width: 380px;
  height: 500px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 32px;
  background: url(/src/images/popular_tour2.png) center/cover no-repeat;
}
.fourth__section-options .fourth__section-option3 {
  width: 380px;
  height: 500px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 32px;
  background: url(/src/images/popular_tour3.png) center/cover no-repeat;
}
.fourth__section-btn {
  color: #FDFDFD;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: 0.192px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 16px 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #1A3E3E;
  margin-top: 50px;
}

.fifth__section-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 60px;
}
.fifth__section-titles .fifth__section-suptitle {
  color: #F2BE22;
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
}
.fifth__section-titles .fifth__section-title {
  color: #18121E;
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
}
.fifth__section-content .fifth__section-block-sep {
  position: absolute;
  right: 35px;
  top: 10px;
}
.fifth__section-content .fifth__section-block {
  display: inline-block;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: calc((100% - 10px) / 2);
  padding: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  border-radius: 10px;
  background: #FDFDFD;
  position: relative;
}
.fifth__section-content .fifth__section-block-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 250%;
}
.fifth__section-content .fifth__section-block-img {
  width: 230px;
  height: 280px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 6px;
  background: url(/src/images/blog1.png);
}
.fifth__section-content .img11 {
  background: url(/src/images/blog2.png);
}
.fifth__section-content .img111 {
  background: url(/src/images/blog3.png);
}
.fifth__section-content .img1111 {
  background: url(/src/images/blog4.png);
}
.fifth__section-content .fifth__section-block-title {
  color: #18121E;
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.fifth__section-content .fifth__section-block-text {
  overflow: hidden;
  color: #18121E;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Nunito Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.fifth__section-content .fifth__section-block-date {
  color: #F2BE22;
  font-family: Nunito Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  margin-right: 100px;
}
.fifth__section-content .fifth__section-block-read-more {
  color: #1A3E3E;
  font-family: Nunito Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.fifth__section-content-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  left: 40%;
  margin-top: 50px;
  padding: 16px 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #1A3E3E;
  color: #FDFDFD;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: 0.192px;
}

.sixth__section {
  height: 100vh;
  width: 100%;
}
.sixth__section-content-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 200px;
  margin-bottom: 60px;
}
.sixth__section-content-titles-title {
  color: #18121E;
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
}
.sixth__section-content-titles-suptitle {
  color: #F2BE22;
  font-family: Nunito Sans, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
}
.sixth__section-content-fancybox {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.sixth__section-content-fancybox .baloon {
  width: calc((100% - 260px) / 2);
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(/src/images/baloon.png) center/cover no-repeat;
}
.sixth__section-content-fancybox .map {
  width: calc((100% - 260px) / 3);
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(/src/images/map.png) center/cover no-repeat;
}
.sixth__section-content-fancybox .aust {
  width: calc((100% - 260px) / 3);
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(/src/images/aust.png) center/cover no-repeat;
}
.sixth__section-content-fancybox .beach {
  width: calc((100% - 260px) / 3);
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(/src/images/beach.png) center/cover no-repeat;
}
.sixth__section-content-fancybox .canyon {
  width: calc((100% - 260px) / 2);
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(/src/images/canyon.png) center/cover no-repeat;
}
.sixth__section-content-fancybox .notebook {
  width: calc((100% - 260px) / 3);
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(/src/images/notebook.png) center/cover no-repeat;
}
.sixth__section-content-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  left: 40%;
  margin-top: 50px;
  padding: 16px 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #1A3E3E;
  color: #FDFDFD;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: 0.192px;
}