* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}

.header {
  width: 100%;
  position: absolute;
  background: transparent;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-left: 212px;
}
.header__nav-item {
  color: #FDFDFD;
  font-family: Nunito Sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #1A3E3E;
  color: #FDFDFD;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: 0.192px;
}

.first__section {
  background: gray url("/src/images/BG1.png") center/cover no-repeat;
  position: relative;
  height: 100vh;
}
.first__section-forms {
  width: 1180px;
  height: 161px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.first__section-title {
  color: #FDFDFD;
  font-family: NEXT ART, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 75px */
  letter-spacing: 1px;
}